<style>

@import url('https://fonts.googleapis.com/css?family=Barlow');

body{
  padding: 50px;
  background-color:#003471;
}
  #header{
  font-family: Barlow', sans-serif;
  color: #FBFFB0;
  padding-left: 30%;
}
.button{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  font-family:'Trebuchet MS', sans-serif;
  float: center;
  border-radius: 10px;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;
}

.button{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

#container {
  max-width: 100px;
  min-width: 960px;
  position: relative;
  text-align:center;
  margin-top: 1.75em;
        margin-bottom: 2em;
        margin: auto;
  padding: 3em;
  border: 5px double #000000;
  border-color: #012148;
  background-color: #FBFFB0; 
  font-family: Barlow, sans-serif;
}


</style>

<div id="container">

<h1><%= 'Nombre: '+medico.nombre %></h1>
<hr>
<h1><%= 'Apellido: '+medico.apellido %></h1>
<hr>
<h2><%= 'Cedula: '+medico.cedula %></h1>
<hr>
<h3><%= 'Fecha de Nacimiento: '+medico.fecha%></h1>
<hr>
<h4><%= 'Dirección: ' +medico.direccion %></h1>
<hr>
%=medico.id%


<form action="/Especialidad/new" method="POST">
  <input type="hidden" value= "<%= medico.id %>" name="medico">
  <input type="submit" value= "Agregar Especialidad" />
</form>

<form action="/Horario/new" method="POST">
  <input type="hidden" value= "<%= medico.id %>" name="medico">
  <input type="submit" value= "Agregar Bloque" />
</form>
</div>
<div id="container">
<h3> Horario</h3>
<table>
<tr>
  <th> ID </th>
  <th> Bloque Horario </th>
  <th></th>
  <th></th>
  <th></th>
</tr>
<% _.each(medico.horario,function(horario){ %>
  <tr data=id="<%= horario.id %>" data-model="horario">
  <td><%= horario.id %></td>
  <td><%= horario.bloquehorario %></td>
  <td><a href="Horario/show/<%= horario.id %>">Mostrar</a></td>
  <td><a href="Horario/edit/<%= horario.id %>">Editar  </a></td>
  <td><a href="Horario/destroy/<%= horario.id %>">Eliminar</a></td>
</tr>
<% }) %>
</table>
</div>
<div id="container">
<a class="button" href="/Medico"> Regresar </a>
<a class="button" href="/Medico/edit/%=medico.id%"> Editar </a>(help) 
</div>