<style>

@import url('https://fonts.googleapis.com/css?family=Barlow');

body{
  padding: 50px;
  background-color:#003471;
}
  #header{
  font-family: Barlow', sans-serif;
  color: #FBFFB0;
  padding-left: 30%;
}
.button{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  font-family:Barlow, sans-serif;
  float: left;
  border-radius: 10px;
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
}

.button{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

#container {
  max-width: 100px;
  min-width: 960px;
  position: relative;
  text-align:center;
  margin-top: 1.75em;
        margin-bottom: 2em;
        margin: auto;
  padding: 3em;
  border: 5px double #000000;
  border-color: #012148;
  background-color: #FBFFB0; 
  font-family: Barlow, sans-serif;
}

h1{
  color: #73BCC1;
  border: 2px double #003471;
  background-color: #003471;
  padding: 10px 0px 15px 0px;
}

</style>

<div id="container">

<h1>Citas</h1>
<a class="button" href="/Cita/Registrar"> Agregar Cita </a>
<a class="button" href="/"> Regresar </a>
<br><br> <br>
<table>
  <tr>
<th>ID Cita</th>
  <th>Cedula Paciente</th>
  <th>Cedula Medico</th>
  <th>Horario</th>

  <th></th>
  <th></th>
  <th></th>
</tr>
<% _.each(cita,function(cita){ %>
  <tr data=id="<%= cita.id %>" data-model="cita">
  <td><%= cita.id %></td>
  <td><%= cita.paciente %></td>
  <td><%= cita.medico %></td>
  <td><%= cita.horario %></td>
  <td><a class="buttonsm" href="Cita/show/<%= cita.id %>">Mostrar</a></td>
  <td><a class="buttonsm" href="Cita/update/<%= cita.id %>">Editar</a></td>
  <td><a class="buttonsm" href="Cita/destroy/<%= cita.id %>">Eliminar</a></td>

</tr>
<% }) %>
</table>
</div>