<h4><%= 'ID Control '+control.id %></h1>
<hr>
<h4><%= 'ID Cita: '+control.cita %></h1>
<hr>
<h4><%= 'Observaciones'+control.observaciones %></h1>
<hr>
<hr>
<h4><%= 'Altura'+control.altura %></h1>
<hr>
<hr>
<h4><%= 'Peso'+control.peso %></h1>
<hr>
<hr>
<h4><%= 'Fecha'+control.fecha %></h1>
<hr>
<hr>
<h4><%= 'diagnostico '+control.diagnostico %></h1>
<hr>
