<style>

@import url('https://fonts.googleapis.com/css?family=Barlow');

body{
  padding: 50px;
  background-color:#003471;
}
  #header{
  font-family: Barlow', sans-serif;
  color: #FBFFB0;
  padding-left: 30%;
}
.button{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  font-family:'Trebuchet MS', sans-serif;
  float: center;
  border-radius: 10px;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;
}

.button{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

#container {
  max-width: 100px;
  min-width: 960px;
  position: relative;
  text-align:left;
  margin-top: 1.75em;
        margin-bottom: 2em;
        margin: auto;
  padding: 3em;
  border: 5px double #000000;
  border-color: #012148;
  background-color: #FBFFB0; 
  font-family: Barlow, sans-serif;
}
img {
  padding: 5%;
  float:right;
  width:500px;
  height:auto;
}



</style>

<div id="container">
<img id="img" src="https://images.unsplash.com/photo-1488998527040-85054a85150e?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
  <form action="/Paciente/update/<%= paciente.id %>" method="POST">
  <h2>Editar Informacion</h2>
  <h5> Cedula</h5>
  <input value="<%= paciente.cedula%>" type="int" name="cedula"><br />
    <h5> Nombre</h5>
  <input value="<%= paciente.nombre%>" type="text" name="nombre"><br />
    <h5> Apellido</h5>
  <input value="<%= paciente.apellido%>" type="text" name="apellido"><br />
    <h5> Fecha de Nacimiento</h5>
  <input value="<%= paciente.fecha%>" type="date" name="fecha"><br />
    <h5> Dirección</h5>
  <input value="<%= paciente.direccion%>" type="text" name="direccion"><br />
  <input type="submit" value="Editar Paciente" />
</form>
<a class="button" href="/Paciente"> Regresar </a>

</div>