<form action="/Paciente/update/<%= paciente.id %>" method="POST">
  <h2>Editar Informacion</h2>
  <h5> Cedula</h5>
  <input value="<%= paciente.cedula%>" type="int" name="cedula"><br />
    <h5> Nombre</h5>
  <input value="<%= paciente.nombre%>" type="text" name="nombre"><br />
    <h5> Apellido</h5>
  <input value="<%= paciente.apellido%>" type="text" name="apellido"><br />
    <h5> Fecha de Nacimiento</h5>
  <input value="<%= paciente.fecha%>" type="text" name="fecha"><br />
    <h5> Dirección</h5>
  <input value="<%= paciente.direccion%>" type="text" name="direccion"><br />
  <input type="submit" value="Editar Paciente" />
</form>
