<h1><%= 'Nombre: '+paciente.nombre %></h1>
<hr>
<h1><%= 'Apellido: '+paciente.apellido %></h1>
<hr>
<h2><%= 'Cedula: '+paciente.cedula %></h1>
<hr>
<h3><%= 'Fecha de Nacimiento: '+paciente.fecha%></h1>
<hr>
<h4><%= 'Dirección: ' +paciente.direccion %></h1>
<hr>
